# Import necessary libraries

In [1]:
import pandas as pd
import numpy as np
import dtale as dt

In [2]:
import json
import glob

In [3]:
import requests

---

In [4]:
def makeSeparateJsonForYears(dataset, path, yearStart=1990, yearStop=2019, crop=None, isstr=True):
    """ Groups dataset elements by year, to export it into separate files, 
        the 'isstr' argument is used when the years are strings or datetime objects
    """
    
    groups = dataset.groupby('Year')
    
    for y in range(yearStart, yearStop):
        if isstr:
            curr = groups.get_group(str(y)).T
        else:
            curr = groups.get_group(pd.to_datetime(str(y), format='%Y', exact=False)).T
        curr = curr.rename(columns=curr.iloc[0]).drop(index='Year')
        curr = curr.reset_index()
        curr.insert(loc=2, column='Year', value=pd.to_datetime(str(y), format='%Y', exact=False))
        
        if crop:
            curr.insert(loc=3, column='Type', value=crop)
        
        if isstr:
            curr = curr.rename(columns={str(y): 'Value', 'index': 'Code'})
        else:
            curr = curr.rename(columns={'index': 'Code', pd.to_datetime(str(y), format='%Y', exact=False): 'Value'})
        
        curr.to_json('{}/{}.json'.format(path, str(y)), orient='records', date_format='epoch')

In [78]:
def mergeFiles(path, fname):
    """
        Merges seperate JSON files into one, the JSON records from one file are extended into another,
        perfectly suitable for merging different year files into one, for line-charts
    """
    
    result = []
    
    for f in glob.glob('{}/*.json'.format(path)):
        with open(f, 'r') as infile:
            result.extend(json.load(infile))
            
    with open('{}.json'.format(fname), 'w') as outfile:
        json.dump(result, outfile)

---

# First: totalProduction dataset, measured in thousand 60kg bags

In [9]:
totalProduction = pd.read_excel('../data/non-cleaned/1a - Total production.xlsx', skiprows=2, header=1)

In [10]:
totalProduction = totalProduction.drop(columns='Unnamed: 1')

In [11]:
totalProduction = totalProduction.drop(index=0)

In [12]:
totalProduction = totalProduction.drop(index=64)

In [13]:
totalProduction = totalProduction.drop(index=62)

In [14]:
totalProduction = totalProduction.drop(index=1)

In [15]:
totalProduction = totalProduction.drop(index=[16, 17, 25, 26])

---

In [6]:
codes = pd.read_json('../data/cleaned/codes.json', orient='index')

In [7]:
codes = codes.rename(columns={0: 'Country'})

In [8]:
codes = codes.reset_index()

In [9]:
codes = codes.rename(columns={'index': 'Code'})

---

In [41]:
totalProduction = totalProduction.rename(columns={'Crop year': 'Country'})

In [43]:
totalProduction = totalProduction.merge(codes, how='left', on='Country')

In [50]:
totalProduction[totalProduction.Code.isnull()]

,Country,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,1998/99,...,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,Code
56,Total,93230.0596,101266.6844,98525.8992,91764.6216,93313.194,87317.4582,103302.596,99861.199,109055.2131,...,142467.5376,142975.3877,152534.5121,154095.3148,149753.0421,153987.6449,159915.5434,158074.1842,170936.7377,NaN

In [46]:
totalProduction.loc[19, 'Code'] = 'TZA'

In [47]:
totalProduction.loc[27, 'Code'] = 'COD'

In [48]:
totalProduction.loc[51, 'Code'] = 'TTO'

In [49]:
totalProduction.loc[53, 'Code'] = 'VEN'

In [77]:
totalProduction = totalProduction.T

In [78]:
totalProduction = totalProduction.reset_index()

In [79]:
totalProduction = totalProduction.rename(columns=totalProduction.iloc[30])

In [81]:
totalProduction = totalProduction.drop(index=[0, 30])

In [82]:
totalProduction = totalProduction.rename(columns={'Code': 'Year'})

In [83]:
totalProduction = totalProduction.rename(columns={np.nan: 'Total'})

In [85]:
totalProduction['Year'] = pd.to_datetime(totalProduction['Year'], format='%Y', exact=False)

In [113]:
makeSeparateJsonForYears(totalProduction, '../data/cleaned/totalProductionByYear', isstr=False)

In [117]:
mergeFiles('../data/cleaned/totalProductionByYear', '../data/cleaned/totalProduction')

# Second: export dataset, measuring in thousand 60kg bags

In [52]:
totalExport = pd.read_excel('../data/non-cleaned/2a - Exports - calendar year.xlsx', skiprows=2, header=1)

In [53]:
totalExport = totalExport.T

In [54]:
totalExport = totalExport.reset_index()

In [55]:
totalExport = totalExport.rename(columns=totalExport.iloc[0])

In [56]:
totalExport = totalExport.drop(index=0)

In [57]:
totalExport = totalExport.rename(columns={'Calendar years': 'Year'})

In [58]:
totalExport = totalExport.T

In [59]:
totalExport = totalExport.reset_index()

In [60]:
totalExport = totalExport.rename(columns=totalExport.iloc[0]).drop(index=0)

In [61]:
totalExport = totalExport.drop(index=[57, 59])

In [62]:
totalExport = totalExport.rename(columns={'Year': 'Country'})

In [63]:
totalExport = totalExport.merge(codes, how='left', on='Country')

In [122]:
totalExport[totalExport.Code.isnull()]

In [65]:
totalExport.loc[51, 'Code'] = 'VEN'

In [66]:
totalExport.loc[49, 'Code'] = 'TTO'

In [67]:
totalExport.loc[12, 'Code'] = 'COD'

In [68]:
totalExport.loc[45, 'Code'] = 'TZA'

In [69]:
totalExport = totalExport.T

In [70]:
totalExport = totalExport.reset_index().rename(columns=totalExport.iloc[30]).drop(index=[0, 30])

In [71]:
totalExport = totalExport.rename(columns={'index': 'Year', np.nan: 'Total'})

In [119]:
makeSeparateJsonForYears(totalExport, '../data/cleaned/totalExportByYear', isstr=True)

In [120]:
mergeFiles('../data/cleaned/totalExportByYear', '../data/cleaned/totalExport')

# Third: Imports by selected importing countries, measured in thousand 60kg bags

In [138]:
totalImports = pd.read_excel('../data/non-cleaned/2b - Imports.xlsx', skiprows=2, header=1)

In [139]:
totalImports = totalImports.drop(index=[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 38, 40])

In [140]:
totalImports = totalImports.rename(columns={'Calendar years': 'Country'})

In [141]:
totalImports = totalImports.merge(codes, how='left', on='Country')

In [147]:
totalImports[totalImports.Code.isnull()]

Empty DataFrame
Columns: [Country, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, Code]
Index: []

[0 rows x 31 columns]

In [145]:
totalImports.loc[6, 'Code'] = 'USA'

In [146]:
totalImports.loc[7, 'Code'] = 'Total'

In [150]:
totalImports = totalImports.T

In [151]:
totalImports = totalImports.reset_index()

In [153]:
totalImports = totalImports.rename(columns=totalImports.loc[30]).drop(index=[0, 30])

In [155]:
totalImports = totalImports.rename(columns={'Code': 'Year'})

In [160]:
totalImports[['EAU', 'JPN', 'NOR', 'RUS', 'CHE', 'TUN', 'USA', 'Total']] = totalImports[['EAU', 'JPN', 'NOR', 'RUS', 'CHE', 'TUN', 'USA', 'Total']].astype('float64')

In [168]:
totalImports['Year'] = pd.to_datetime(totalImports['Year'], format='%Y', exact=False)

In [171]:
makeSeparateJsonForYears(totalImports, '../data/cleaned/totalImportByYear', isstr=False)

In [172]:
mergeFiles('../data/cleaned/totalImportByYear', '../data/cleaned/totalImport')

# Fourth: Prices paid to growers in exporting countries, measured in US cents/lb

In [274]:
pricesPaidToGrowers = pd.read_excel('../data/non-cleaned/3a - Prices paid to growers.xlsx', skiprows=2, header=1)

In [275]:
pricesPaidToGrowers = pricesPaidToGrowers.drop(index=[0, 1, 73])

In [276]:
pricesPaidToGrowers = pricesPaidToGrowers.drop(index=[5, 6])

In [277]:
pricesPaidToGrowers = pricesPaidToGrowers.drop(index=[34, 43])

In [278]:
pricesPaidToGrowers = pricesPaidToGrowers.rename(columns={'Calendar years': 'Country'})

In [279]:
pricesPaidToGrowers = pricesPaidToGrowers.merge(codes, how='left', on='Country')

In [280]:
pricesPaidToGrowers = pricesPaidToGrowers.drop(index=[30, 38])

In [289]:
pricesPaidToGrowers[pricesPaidToGrowers.Code.isnull()]

Empty DataFrame
Columns: [Country, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, Code]
Index: []

[0 rows x 31 columns]

In [282]:
pricesPaidToGrowers.loc[2, 'Code'] = 'TZA'

In [283]:
pricesPaidToGrowers.loc[61, 'Code'] = 'TZA'

In [284]:
pricesPaidToGrowers.loc[8, 'Code'] = 'COD'

In [285]:
pricesPaidToGrowers.loc[47, 'Code'] = 'COD'

In [286]:
pricesPaidToGrowers.loc[27, 'Code'] = 'VEN'

In [287]:
pricesPaidToGrowers.loc[64, 'Code'] = 'TTO'

In [288]:
types = []

for _ in range(0, 3):
    types.append('Colombian Milds')
    
for _ in range(0, 27):
    types.append('Other Milds')
    
for _ in range(0, 7):
    types.append('Brazilian Naturals')
    
for _ in range(0, 28):
    types.append('Robustas')

In [290]:
pricesPaidToGrowers.insert(loc=1, column='Type', value=types)

In [267]:
pricesPaidToGrowers = pricesPaidToGrowers.T

In [269]:
pricesPaidToGrowers = pricesPaidToGrowers.reset_index()

In [271]:
pricesPaidToGrowers = pricesPaidToGrowers.rename(columns=pricesPaidToGrowers.iloc[31]).rename(columns={'Code': 'Year'}).drop(index=[0, 31])

In [311]:
colombianMilds = pricesPaidToGrowers[pricesPaidToGrowers.Type == 'Colombian Milds'].drop(columns='Type')
otherMilds = pricesPaidToGrowers[pricesPaidToGrowers.Type == 'Other Milds'].drop(columns='Type')
brazilianNaturals = pricesPaidToGrowers[pricesPaidToGrowers.Type == 'Brazilian Naturals'].drop(columns='Type')
robustas = pricesPaidToGrowers[pricesPaidToGrowers.Type == 'Robustas'].drop(columns='Type')

In [312]:
colombianMilds = colombianMilds.T
colombianMilds = colombianMilds.reset_index()
colombianMilds = colombianMilds.rename(columns=colombianMilds.iloc[30]).drop(index=[0, 30]).rename(columns={'Code': 'Year'})

In [315]:
otherMilds = otherMilds.T
otherMilds = otherMilds.reset_index()
otherMilds = otherMilds.rename(columns=otherMilds.iloc[30]).drop(index=[0, 30]).rename(columns={'Code': 'Year'})

In [317]:
brazilianNaturals = brazilianNaturals.T
brazilianNaturals = brazilianNaturals.reset_index()
brazilianNaturals = brazilianNaturals.rename(columns=brazilianNaturals.iloc[30]).drop(index=[0, 30]).rename(columns={'Code': 'Year'})

In [319]:
robustas = robustas.T
robustas = robustas.reset_index()
robustas = robustas.rename(columns=robustas.iloc[30]).drop(index=[0, 30]).rename(columns={'Code': 'Year'})

In [324]:
otherMilds = otherMilds.drop(columns=['VEN', 'ZWE'])

In [333]:
robustas = robustas.drop(columns='LBR')

In [337]:
colombianMilds['Year'] = pd.to_datetime(colombianMilds['Year'], format='%Y', exact=False)
otherMilds['Year'] = pd.to_datetime(otherMilds['Year'], format='%Y', exact=False)
brazilianNaturals['Year'] = pd.to_datetime(brazilianNaturals['Year'], format='%Y', exact=False)
robustas['Year'] = pd.to_datetime(robustas['Year'], format='%Y', exact=False)

In [344]:
makeSeparateJsonForYears(colombianMilds, '../data/cleaned/pricesPaidToGrowers/colombianMilds', crop='Colombian Milds', isstr=False)
makeSeparateJsonForYears(otherMilds, '../data/cleaned/pricesPaidToGrowers/otherMilds', crop='Other Milds', isstr=False)
makeSeparateJsonForYears(brazilianNaturals, '../data/cleaned/pricesPaidToGrowers/brazilianNaturals', crop='Brazilian Naturals', isstr=False)
makeSeparateJsonForYears(robustas, '../data/cleaned/pricesPaidToGrowers/robustas', crop='Robustas', isstr=False)

In [346]:
mergeFiles('../data/cleaned/pricesPaidToGrowers/colombianMilds', '../data/cleaned/pricesPaidToGrowers/colombianMilds')
mergeFiles('../data/cleaned/pricesPaidToGrowers/otherMilds', '../data/cleaned/pricesPaidToGrowers/otherMilds')
mergeFiles('../data/cleaned/pricesPaidToGrowers/brazilianNaturals', '../data/cleaned/pricesPaidToGrowers/brazilianNaturals')
mergeFiles('../data/cleaned/pricesPaidToGrowers/robustas', '../data/cleaned/pricesPaidToGrowers/robustas')

In [347]:
mergeFiles('../data/cleaned/pricesPaidToGrowers', '../data/cleaned/pricesPaidToGrowers')

# Fifth: Retail prices of roasted coffee in selected importing countries, measured in US dollar/lb

In [17]:
retailPrices = pd.read_excel('../data/non-cleaned/3b - Retail prices.xlsx', skiprows=2, header=1)

In [18]:
retailPrices = retailPrices.drop(index=[0, 25, 31, 32])

In [19]:
retailPrices = retailPrices.rename(columns={'Calendar years': 'Country'})

In [20]:
retailPrices.loc[16, 'Country'] = 'Malta'
retailPrices.loc[24, 'Country'] = 'United Kingdom'

In [21]:
retailPrices = retailPrices.drop(index=1)

In [22]:
retailPrices['Country'] = retailPrices['Country'].str.strip()

In [23]:
retailPrices = retailPrices.merge(codes, how='left', on='Country')

In [24]:
retailPrices[retailPrices.Code.isnull()]

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Code
4,Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.31,5.10,...,5.01,6.58,7.13,7.00,6.61,5.75,6.14,6.58,7.27,NaN
22,United Kingdom,10.55,10.41,10.09,8.44,11.36,13.79,13.35,14.90,15.42,...,15.70,19.02,19.20,18.92,20.56,18.91,16.29,17.01,18.40,NaN
27,USA,2.97,2.81,2.58,2.47,3.40,4.04,3.43,4.11,3.77,...,3.91,5.19,5.68,5.45,4.99,4.72,4.39,4.45,4.30,NaN

In [25]:
retailPrices.loc[4, 'Code'] = 'CZE'
retailPrices.loc[22, 'Code'] = 'GBR'
retailPrices.loc[27, 'Code'] = 'USA'

In [28]:
retailPrices = retailPrices.T

In [30]:
retailPrices = retailPrices.reset_index().rename(columns=retailPrices.iloc[30])

In [32]:
retailPrices = retailPrices.rename(columns={'index': 'Year'}).drop(index=[0, 30])

In [34]:
retailPrices['Year'] = pd.to_datetime(retailPrices['Year'], format='%Y', exact=False)

In [35]:
makeSeparateJsonForYears(retailPrices, '../data/cleaned/retailPricesByYear', isstr=False)

In [36]:
mergeFiles('../data/cleaned/retailPricesByYear', '../data/cleaned/retailPrices')

# Sixth: Colombian monthly internal price of coffee, measured in pesos/125kg bags

In [41]:
internalPrice = pd.read_excel('../data/non-cleaned/Precios-Ã¡rea-y-producciÃ³n-de-cafÃ©.xlsx', sheet_name='Internal Price', skiprows=4, header=1, usecols='B:C')

In [43]:
internalPrice = internalPrice.rename(columns={'Mes': 'Year', 'Precio interno': 'Price'})

In [48]:
internalPrice.to_json('../data/cleaned/colombianMonthlyInternalPrice.json', orient='records', date_format='epoch')

# Seventh: Colombian yearly export price, measured in dollar cents/lb

In [49]:
exportPrice = pd.read_excel('../data/non-cleaned/Precios-Ã¡rea-y-producciÃ³n-de-cafÃ©.xlsx', sheet_name='Export Price', skiprows=4, header=1, usecols='B:C')

In [51]:
exportPrice = exportPrice.rename(columns={'AÃ±o': 'Year', 'Precio externo': 'Price'})

In [55]:
exportPrice['Year'] = pd.to_datetime(exportPrice['Year'], format='%Y')

In [58]:
exportPrice.to_json('../data/cleaned/colombianYearlyExportPrice.json', orient='records', date_format='epoch')

# Eighth: Colombian cultivated area by region, measured in million hectares

In [59]:
cultivatedArea = pd.read_excel('../data/non-cleaned/Precios-Ã¡rea-y-producciÃ³n-de-cafÃ©.xlsx', sheet_name='Cultivated Area', skiprows=4, header=1, usecols='B:T')

In [61]:
cultivatedArea = cultivatedArea.rename(columns={'Unnamed: 1': 'Region'}).drop(index=[23, 24])

In [63]:
cultivatedArea = cultivatedArea.drop(index=22)

In [67]:
cultivatedArea = cultivatedArea.T

In [69]:
cultivatedArea = cultivatedArea.reset_index()

In [71]:
cultivatedArea = cultivatedArea.rename(columns=cultivatedArea.iloc[0]).drop(index=0).rename(columns={'Region': 'Year'})

In [73]:
cultivatedArea['Year'] = pd.to_datetime(cultivatedArea['Year'], format='%Y', exact=False)

In [77]:
cultivatedArea = cultivatedArea.set_index('Year')

In [83]:
cultivatedArea[cultivatedArea == 'n/d'] = np.nan

In [86]:
cultivatedArea = cultivatedArea.astype('float64')

In [91]:
cultivatedArea = cultivatedArea.rename(columns={'CaquetÃ¡': 'Caqueta', 'N. Santander': 'Norte De Santander', 'ChocÃ³': 'Choco'})

In [93]:
cultivatedArea.to_json('../data/cleaned/colombianCultivatedAreaByRegion.json', orient='index', date_format='epoch')

# Nineth: Colombian monthly production, measured in thousand 60kg bags

In [95]:
monthlyProduction = pd.read_excel('../data/non-cleaned/Precios-Ã¡rea-y-producciÃ³n-de-cafÃ©.xlsx', sheet_name='Monthly Production', skiprows=4, header=1, usecols='B:C')

In [97]:
monthlyProduction = monthlyProduction.rename(columns={'Mes': 'Year', 'ProducciÃ³n': 'Production'})

In [101]:
monthlyProduction.to_json('../data/cleaned/colombianMonthlyProduction.json', orient='records', date_format='epoch')

# Tenth: Colombia GDP by sector

In [10]:
colombiaGdp = pd.read_excel('../data/non-cleaned/colombiaGDPBySector.xlsx')

In [12]:
colombiaGdp

    Year  Agriculture  Industry  Services
0   2009       0.0669    0.3125    0.5348
1   2010       0.0632    0.3137    0.5340
2   2011       0.0609    0.3330    0.5144
3   2012       0.0558    0.3341    0.5199
4   2013       0.0539    0.3275    0.5335
5   2014       0.0545    0.3099    0.5463
6   2015       0.0598    0.2859    0.5622
7   2016       0.0661    0.2769    0.5690
8   2017       0.0639    0.2681    0.5761
9   2018       0.0629    0.2693    0.5754
10  2019       0.0674    0.2627    0.5753

In [13]:
#colombiaGdp = colombiaGdp.set_index('Year')

In [15]:
colombiaGdp.to_json('../data/cleaned/colombiaGdp.json', orient='records', date_format='epoch')

# Eleventh: Coffee exporter's hemisphere temperature change, measured in celsius

In [109]:
temperatureChange = pd.read_csv('../data/non-cleaned/Zonal annual means in C.csv')

In [111]:
temperatureChange = temperatureChange.drop(columns=['Glob', 'NHem', 'SHem', '24N-90N', '90S-24S', '64N-90N', '44N-64N', '24N-44N', 'EQU-24N', '24S-EQU', '44S-24S', '64S-44S', '90S-64S'])

In [113]:
temperatureChange = temperatureChange.rename(columns={'24S-24N': 'Difference'})

In [116]:
temperatureChange['Year'] = pd.to_datetime(temperatureChange['Year'], format='%Y')

In [118]:
temperatureChange.to_json('../data/cleaned/temperatureChange.json', orient='records', date_format='epoch')

# Twelveth: Exporters Climate Data, measured in celsius

In [175]:
exporterCountriesCodes = ['AGO', 'BEN', 'BOL', 'BRA', 'BDI', 'CMR', 'CAF', 'COL', 'COG', 'CRI', 'CIV', 'CUB', 'COD', 'DOM', 'ECU', 'SLV', 'GNQ', 'ETH', 'GAB', 'GHA', 'GTM', 'GIN', 'GUY', 'HTI', 'HND', 'IND', 'IDN', 'JAM', 'KEN', 'LAO', 'LBR', 'MDG', 'MWI', 'MEX', 'NPL', 'NIC', 'NGA', 'PAN', 'PNG', 'PRY', 'PER', 'PHL', 'RWA', 'SLE', 'LKA', 'TZA', 'THA', 'TLS', 'TGO', 'TTO', 'UGA', 'VEN', 'VNM', 'YEM', 'ZMB', 'ZWE']
resultTemperatures = []
resultPerc = []
years = ['1920/1939', '1940/1959', '1960/1979', '1980/1999', '2020/2039', '2040/2059', '2060/2079', '2080/2099']

In [176]:
for y in years:
    for c in exporterCountriesCodes:
        url = 'http://climatedataapi.worldbank.org/climateweb/rest/v1/country/annualavg/bccr_bcm2_0/tas/{}/{}.json'.format(y, c)
        resp = requests.get(url)
        
        annualData = resp.json()[0]['annualData'][0]
        
        resultTemperatures.append({'Code': c, 'Year': y, 'Value': annualData})

In [177]:
for y in years:
    for c in exporterCountriesCodes:
        url = 'http://climatedataapi.worldbank.org/climateweb/rest/v1/country/annualavg/bccr_bcm2_0/pr/{}/{}.json'.format(y, c)
        resp = requests.get(url)
        
        annualData = resp.json()[0]['annualData'][0]
        
        resultPerc.append({'Code': c, 'Year': y, 'Value': annualData})

In [179]:
exporterTemperatures = pd.DataFrame(resultTemperatures)

In [181]:
exporterPerc = pd.DataFrame(resultPerc)

In [183]:
exporterPerc.to_json('../data/cleaned/exporterPerc.json', orient='records')
exporterTemperatures.to_json('../data/cleaned/exporterTemperatures.json', orient='records')

---

In [186]:
codes = codes.set_index('Country')

In [188]:
codes.to_json('countryCodes.json', orient='index')

In [189]:
codes

               Code
Country
Aruba           ABW
Afghanistan     AFG
Angola          AGO
Anguilla        AIA
Ã…land Islands   ALA
...             ...
South Africa    ZAF
Zambia          ZMB
Zimbabwe        ZWE
Kosovo          KSV
European Union  EAU

[251 rows x 1 columns]

# Thirteenth: Historical retail prices in U.S. cities, measured in US cents/lb

In [19]:
historicalPrices = pd.read_excel('../data/non-cleaned/historicalPrices.xlsx')

In [20]:
historicalPrices['Year'] = pd.to_datetime(historicalPrices['Year'], format='%Y')

In [21]:
historicalPrices.to_json('../data/cleaned/historicalPrices.json', orient='records')

In [22]:
historicalPrices

         Year  Price
0  1913-01-01   29.8
1  1914-01-01   29.7
2  1915-01-01   30.0
3  1916-01-01   29.9
4  1917-01-01   30.2
..        ...    ...
61 1974-01-01  122.9
62 1975-01-01  133.4
63 1976-01-01  187.3
64 1977-01-01  347.2
65 1978-01-01  339.5

[66 rows x 2 columns]

---
# Changing some columns Dtypes

In [39]:
totalProduction = pd.read_json('../data/cleaned/totalProduction.json', orient='records')

In [40]:
totalProduction['Year'] = pd.to_datetime(totalProduction['Year'], unit='ms', origin='unix')

In [41]:
totalProduction

       Code        Value       Year
0       AGO      50.3450 1990-01-01
1       BOL     122.7770 1990-01-01
2       BRA   27285.6286 1990-01-01
3       BDI     487.3930 1990-01-01
4       ECU    1503.8150 1990-01-01
...     ...          ...        ...
1648    UGA    4703.9640 2018-01-01
1649    VEN     525.2602 2018-01-01
1650    VNM   31174.0742 2018-01-01
1651    YEM     106.0735 2018-01-01
1652  Total  170936.7377 2018-01-01

[1653 rows x 3 columns]

In [44]:
totalProduction.to_json('../data/cleaned/totalProduction.json', date_format='iso', orient='records')

---

In [45]:
totalExport = pd.read_json('../data/cleaned/totalExport.json', orient='records')

In [47]:
totalExport['Year'] = pd.to_datetime(totalExport['Year'], unit='ms', origin='unix')

In [49]:
totalImport = pd.read_json('../data/cleaned/totalImport.json', orient='records')

In [50]:
totalImport['Year'] = pd.to_datetime(totalImport['Year'], unit='ms', origin='unix')

In [52]:
totalExport.to_json('../data/cleaned/totalExport.json', orient='records', date_format='iso')
totalImport.to_json('../data/cleaned/totalImport.json', orient='records', date_format='iso')

---

In [16]:
cultivatedArea = pd.read_json('../data/cleaned/colombianCultivatedAreaByRegion.json', orient='index')

In [22]:
cultivatedArea = cultivatedArea.T

In [23]:
cultivatedArea = cultivatedArea.reset_index().rename(columns={'index': 'Region'})

In [25]:
cultivatedArea.to_json('test.json', orient='records', date_format='iso')

In [76]:
def makeSeperateJsonFilesForRegions():
    regions = cultivatedArea['Region'].tolist()
    groups = cultivatedArea.groupby('Region')
    cols = cultivatedArea.columns.tolist()
    cols.pop(0) # remove Region from cols
    
    for r in regions:
        result = []
        for c in cols:
            current = {}
            
            current['Region'] = r
            current['Year'] = c
            try:
                current['Value'] = groups.get_group(r)[c].tolist()[0]
            except KeyError:
                current['Value'] = np.nan
            
            result.append(current)
            
        pd.DataFrame(result).to_json('../data/cleaned/cultivatedArea/{}.json'.format(r), orient='records', date_format='iso')

In [77]:
makeSeperateJsonFilesForRegions()

In [79]:
mergeFiles('../data/cleaned/cultivatedArea/', '../data/cleaned/cultivatedArea.json')